<div id="clights-confirm-delete">
    <p>This {{type}} will be permanently deleted along with {{#if isDealer}}all the dealer's customers and bids. {{else}} the saved bid, if any. Click again below to confirm. {{/if}}</p>
    <button id="clights-cancel-delete" class="btn">Cancel</button>
</div>