
{{#if isHandheld}}
    <div class="logo_ttl">
        <img src="img/logo_ttl-238x30.png" alt="Christmas Decor">
    </div>
    <div class="clights_total_767max clights_needs_update"></div>
{{else}}
    <div class="logo_ttl"></div>
    <div class="clights_ttl_label">TOTAL</div>
    <div class="clights_total_amt"><span></span></div>
{{/if}}
