<div id="clights-info-actions" class="container clights_pane clights_workspace"
     data-clightspane="workspace">
    <div class="row-fluid">
        <div class="span10">
            <div class="clights_estimate_ttl"></div>
        </div>
        <div class="span2 clights_actions">
            <div id="clights-home" class="clights_action"><i class="icon-home icon-2x"></i></div>
            <div class="clights_action disabled"><i class="icon-wrench icon-2x"></i></div>
            <div id="clights-day-for-night" class="clights_action"><i class="icon-eye-open icon-2x"></i></div>
            <div id="clights-upload" class="clights_action"><i class="icon-camera icon-2x"></i></div>
            <div id="clights-preview" class="clights_action"><i class="icon-picture icon-2x"></i></div>
            <div id="clights-logout" class="clights_action"><i class="icon-signout icon-2x"></i></div>
        </div>
    </div>
</div>
