<div id="clights-modal-external" class="modal clights_pane clights_modal hide fade" data-backdrop="static"
        data-keyboard="false">
    <div class="modal-header">
		<h3 class="clights_caps">Build Quote</h3>
	</div>
	<div class="modal-body">
		<iframe class="modal-iframe" src="" width="800" height="450" scrolling="auto" border="#000" frameborder="0" style="overflow-x:hidden"></iframe>
	</div>
</div>