<div id="clights-login" class="modal clights_pane clights_modal hide fade"
        data-backdrop="static"
        data-keyboard="false">
    <div class="modal-header">
        <h3 class="clights_caps">Log In</h3>
    </div>
    <form id="clights-login-form" class="form-horizontal" style="margin: 0;">
        <div class="modal-body">

            <div class="control-group">
                <label class="control-label clights_caps" for="username">Username</label>

                <div class="controls">
                    <input type="text"
                           id="username" name="username"
                           autocapitalize="off"
                           autocorrect="off"
                           placeholder="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label clights_caps" for="password">Password</label>

                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="modal-footer clights_pane" style="padding: 15px 15px 0;">
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary clights_caps">Sign in</button>
                </div>
            </div>
        </div>
    </form>
</div>