<div id="clights-toolbar" class="clights_toolbar_buttons" data-layerid={{layerId}}>
    <div class="btn-group btn-group-vertical">
        <button id="clights-add-wreath" class="btn">
            <i class="icon-wreath icon-1x"></i>
            <span class="clights_btn_label">Wreath</span>
        </button>
        <button id="clights-add-bow" class="btn">
            <i class="icon-bow icon-1x"></i>
            <span class="clights_btn_label">Bow</span>
        </button>
        <button id="clights-add-lights-line" class="btn">
            <i class="icon-straight-lights icon-1x"></i>
            <span class="clights_btn_label">Line</span>
        </button>
        <button id="clights-add-lights-curve" class="btn">
            <i class="icon-curve-lights icon-1x"></i>
            <span class="clights_btn_label">Curve</span>
        </button>
        <button id="clights-remove-item" class="btn btn-danger{{#if selection}}{{else}} disabled{{/if}}">
            <i class="icon-trash icon-1x"></i>
            <span class="clights_btn_label">Remove</span>
        </button>
        <button id="clights-scale-layer" class="btn">
            <i class="icon-resize-full icon-1x"></i>
            <span class="clights_btn_label">Scale</span>
        </button>
        <button id="clights-layer-info" class="btn">
            <i class="icon-details icon-1x"></i>
            <span class="clights_btn_label">Layer</span>
        </button>
        <button id="clights-toggle-tools" class="btn primary clights_tools_expand expanded">
            <i class="icon-double-angle-down icon-1x clights_collapse"></i>
            <span class="clights_btn_label">Hide</span>
            <i class="icon-double-angle-up icon-1x clights_expand"></i>
            <span class="clights_btn_label">Show</span>
        </button>
    </div>
</div>